:root{
    --bs-breakpoint-xs: 400;

    --bs-body-text-align: center;
    --bs-body-bg: rgb(167, 19, 180);
    --bs-link-hover-color-rgb: rgb(40, 7, 94);
    --bs-body-color: rgb(255, 255, 255);

    --bs-link-color-rgb: 255,255,255;
    --bs-heading-color: rgb(255,255,255);
    --bs-table-color:rgb(255,255,255);
    
    a{
        text-decoration: none;
    }

    h1,h2{
        text-align: center;
    }
    
}

.btn-primary{    
    --bs-btn-bg: rgb(76, 15, 173);
    --bs-btn-border-color: #fff;

    --bs-btn-hover-bg: rgb(40, 7, 94);    
    --bs-btn-hover-border-color: rgb(40, 7, 94);
}

nav a:hover {
        background-color: rgba(0,0,0,0.2);
    }

nav a{
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}
