:root{
    --bs-breakpoint-xs: 400;

    --bs-body-text-align: center;
    --bs-body-bg: rgb(0, 0, 0);
    --bs-link-hover-color-rgb: rgb(40, 7, 94);
    --bs-body-color: rgb(255, 255, 255);

    --bs-link-color-rgb: 255,255,255;
    --bs-heading-color: rgb(255,255,255);
    --bs-table-color:rgb(255,255,255);
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.4), rgba(50, 50, 50, 0.2));
    --bs-dark-rgb: 90,90,90;
    
    a{
        text-decoration: none;
    }

    h1,h2{
        text-align: center;
    }
    
}



body{
    background-size: 100vw 100vh;    
    background-repeat: no-repeat;
}

.btn-primary{    
    --bs-btn-bg: rgb(0, 0, 0);
    --bs-btn-border-color: #fff;

    --bs-btn-hover-bg: rgb(50, 50, 50);    
    --bs-btn-hover-border-color: rgb(40, 7, 94);
}

header{
    border: 1px solid white;
}

nav a:hover, nav input:hover {
        background-color: rgba(0,0,0,0.2);
    }

nav a, nav input{
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
}

nav input{
    display: inline;
    color: #fff;
    border: 0px;    
}

.service{
    background-color: rgba(0, 0, 0, 0.7);
}

.service:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px gold solid;
    padding: 1px;
}

.InstagramIcon{
    width:  24px;
    height: 24px;
}